# File Name: IP_2 
## Author: Brett Tully
### Python 3 
#### Class: DS-160-01
##### Semester: Spring '22

In [445]:
## At the top of each code block is a '#' connected to the question number of the assignment

In [446]:
# 1
import pandas as pd
import numpy as np 
import datetime as datetime 
from operator import itemgetter
#import matplotlib.pyplot as plt
#import seaborn as sns
#%matplotlib inline

import scipy.stats as stats
df = pd.read_csv('weather_2012.csv')

In [447]:
# 2-a
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [448]:
# 2-b
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [449]:
# 2-c
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8502,2012-12-20 06:00:00,-1.6,-4.2,82,15,25.0,101.82,Snow
7732,2012-11-18 04:00:00,-4.8,-6.9,85,7,25.0,103.59,Clear
4689,2012-07-14 09:00:00,27.3,17.0,53,15,48.3,101.45,Mainly Clear
6840,2012-10-12 00:00:00,7.7,5.3,85,22,25.0,100.74,Rain
7248,2012-10-29 00:00:00,9.9,7.0,82,22,25.0,100.95,Mostly Cloudy

In [450]:
# 3
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

## leaving this to reference back
['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)','Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'] # le

In [451]:
# 4
col_names=['date_time', 
           'temp_c', 
           'dew_point', 
           'relative_humidity',
       'wind_speed', 
           'visibility', 
           'pressure', 
           'weather']
df.columns = col_names

In [452]:
# 5
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [453]:
# 6
df['temp_f']=df.apply(lambda x: (9/5)*x['temp_c']+32,axis=1)
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

In [454]:
# 7
df=df[['date_time',
       'temp_f',
           'temp_c', 
           'dew_point', 
           'relative_humidity',
       'wind_speed', 
           'visibility', 
           'pressure', 
           'weather']] 
df

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow

In [455]:
# 8
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

In [456]:
# 9
df['date_time']=pd.to_datetime(df['date_time']) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

In [457]:
# 10-13
monthly_avg = pd.DataFrame(df.groupby(pd.PeriodIndex(df['date_time'], freq="m"))['temp_f'].mean())
tempindex=[1,2,3, 4, 5, 6,
             7, 8,9, 10, 11, 12]

monthly_avg.index=tempindex
monthly_avg['months']=monthly_avg.index
monthly_avg.index.name=''
monthly_avg=monthly_avg[['months', 'temp_f']]
monthly_avg['temp_f']=monthly_avg['temp_f'].round(2)  #Long decimals are irrelevant for this particular data
monthly_avg

    months  temp_f

1        1   18.73
2        2   24.39
3        3   37.62
4        4   44.62
5        5   61.23
6        6   68.24
7        7   73.02
8        8   72.10
9        9   61.67
10      10   51.72
11      11   33.68
12      12   26.05

In [458]:
# 14

month = {1:'January',
        2:'February',
        3:'March',
        4:'April',
        5:'May',
        6:'June',
        7:'July',
        8:'August',
        9:'September',
        10:'October',
        11:'November',
        12:'December'} 


def month_n_swap():
    month_n=monthly_avg.index
    monthly_avg.index = monthly_avg.index.to_series().map(month) 
    monthly_avg['months']=monthly_avg.index 
    monthly_avg.index=month_n
    
    
month_n_swap()


monthly_avg

       months  temp_f

1     January   18.73
2    February   24.39
3       March   37.62
4       April   44.62
5         May   61.23
6        June   68.24
7        July   73.02
8      August   72.10
9   September   61.67
10    October   51.72
11   November   33.68
12   December   26.05

In [459]:
# 15-16
df['Hour']= df['date_time'].dt.hour #I eventually drop this column from df below
hour = df.groupby(['Hour'])['temp_f'].mean()
hour
#This method allowed me to automatically assign the index name from the df['Hour'] column name

Hour
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

In [460]:
# 17
mil_2_stan={0:'12:00AM',
            1:'1:00AM',
            2:'2:00AM',
            3:'3:00AM',
            4:'4:00AM',
            5:'5:00AM',
            6:'6:00AM', 
            7:'7:00AM',
            8:'8:00AM',
            9:'9:00AM',
            10:'10:00AM',
            11:'11:00AM',
            12:'12:00PM',
            13:'1:00PM', 
            14:'2:00PM',
            15:'3:00PM',
            16:'4:00PM',
            17:'5:00PM',
            18:'6:00PM',
            19:'7:00PM',
            20:'8:00PM',
            21:'9:00PM',
            22:'10:00PM',
            23:'11:00PM',
           }
def mil_stand():
    
    hour.index= hour.index.to_series().map(mil_2_stan) 
    
mil_stand()
hour

Hour
12:00AM    45.623443
1:00AM     44.762787
2:00AM     43.980820
3:00AM     43.325246
4:00AM     42.744426
5:00AM     42.291967
6:00AM     42.859508
7:00AM     43.831311
8:00AM     45.280656
9:00AM     46.987213
10:00AM    48.699672
11:00AM    50.193770
12:00PM    51.541803
1:00PM     52.508689
2:00PM     53.196721
3:00PM     53.391475
4:00PM     53.178033
5:00PM     52.297705
6:00PM     51.181311
7:00PM     50.041311
8:00PM     48.848197
9:00PM     47.851803
10:00PM    47.064918
11:00PM    46.397049
Name: temp_f, dtype: float64

In [461]:
# 18
weath_count=df['weather'].value_counts()
weath_count

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Rain,Snow,Ice Pellets                         4
Snow Showers,Fog                              4
Moderate Snow                                 4
Freezing Fog                                  4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain                            3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Rain Showers,Snow Showers                     2
Freezing Rain,Haze                            2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Drizzle,Snow                                  2
Rain Showers,Fog                              1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Name: weather, dtype: int64

In [462]:
# 19
unique_weather= df['weather'].str.split(',',expand=True).stack().value_counts()
unique_weather

Mainly Clear             2106
Mostly Cloudy            2069
Cloudy                   1728
Clear                    1326
Snow                      508
Rain                      454
Fog                       422
Rain Showers              210
Drizzle                   139
Snow Showers               66
Haze                       29
Thunderstorms              27
Freezing Drizzle           27
Freezing Rain              22
Blowing Snow               21
Ice Pellets                13
Moderate Snow               6
Freezing Fog                4
Snow Grains                 2
Heavy Rain Showers          1
Snow Pellets                1
Moderate Rain               1
Moderate Rain Showers       1
dtype: int64

In [463]:
# 20
unique_weather.sort_index(inplace=True) 
unique_weather

Blowing Snow               21
Clear                    1326
Cloudy                   1728
Drizzle                   139
Fog                       422
Freezing Drizzle           27
Freezing Fog                4
Freezing Rain              22
Haze                       29
Heavy Rain Showers          1
Ice Pellets                13
Mainly Clear             2106
Moderate Rain               1
Moderate Rain Showers       1
Moderate Snow               6
Mostly Cloudy            2069
Rain                      454
Rain Showers              210
Snow                      508
Snow Grains                 2
Snow Pellets                1
Snow Showers               66
Thunderstorms              27
dtype: int64

In [464]:
# 21
df=df.drop('Hour',axis=1) 

new_col=['Date/Time','Temp (F)', 'Temp (C)', 'Dew Point (C)', 'Rel Hum (%)', 'Wind Spd (km/h)',
       'Visibility (km)', 'Stn Press (kPa)', 'Weather'] 

df.columns=new_col
df

,Date/Time,Temp (F),Temp (C),Dew Point (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow

In [465]:
# 22 
df.to_csv('weather_2012_new.csv', index=False)